#footer a {
  text-decoration: none;
  color: white;
}

#social-links {
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
 }

#social-links a {
  text-decoration: none;
  color: white;
}
#footer{
  padding-left: 5%;
  padding-right: 5%;
  height: 50px;
}

#footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
